/* .postitem{
 /* width: 100% ; */
 /* background-image: url("https://eatforum.org/content/uploads/2018/05/table_with_food_top_view_900x700.jpg"); */
 /* margin: '-50'; */

 /* Full height */
 /* height:830px ;  */
 /* Center and scale the image nicely */
 /* background-color: wheat ;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

} */


.about {
  /* width: 100% ; */
  background-image: url("https://image.freepik.com/free-photo/basil-leaves-chia-seeds-halved-tomato-oil-arranged-white-wooden-floor_23-2148026880.jpg");
  /* margin: '-50'; */

  /* Full height */
  height:830px ; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/* ////////////login& signup/////////// */

.wrapper {
    height: 830px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(27, 125, 163); */
    background-image: url("https://img.freepik.com/free-photo/junk-food-black-slate-with-copy-space_23-2148273109.jpg?size=626&ext=jpg");

    /* Full height */
    /* height: 100%;  */
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  
  .form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    opacity: 0.7
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    /* margin-bottom: 50px; */
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .FormTitle__Link {
    text-align: left;
    width: 100%;
    color: #111;
    text-decoration: none;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  
  
  label {
    font-size: 0.9em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: bold;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(7, 105, 252);

  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
    
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .firstName {
    margin-top: 20px;
  }
  
  .lastName {
    margin-top: 20px;
    
  }
  
  .firstName,
  .lastName,
  .email,
  .password,
  .phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
  }
  
  .firstName,
  .lastName {
    width: 50%;
    padding: 3px;
    
  }
  
  .email,
  .password,
  .phone {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color: rgb(61, 54, 161);
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: rgb(45, 78, 185);
    background-color: #fff;
    border: 2px solid #3558a3;
  }
  
  .createAccount small {
    color: #999;
    font-weight: lighter;
  }

/* /////////////for footer /////////////// */
 
/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #111;
    text-align: center;
  } */

  /* .footer {
    bottom: "0";
    width: "100%"; 
    height: "110px";        
    background-color: #111;
    color : "white";
    text-align : "center";
    padding: "115px";
 } */
  
  .container{
    margin-top: "100px";
    color: #fff;
    width: "100%";
    height: "110px";
    padding: "115px";        
  }
  
  .fa-twitter {
      color: #4099FF;
      padding: "115px";

  }
  
  .fa-facebook {
      color: #3B5998;
  }
  
  .fa-youtube-play {
      color: #e52d27;
  }
  
  .fa-rss {
      color: #FF6600;
  }
  
  .fa-vine {
      color: #00a478;
  }
  
  .fa-flickr {
      color: #ff0084;
  }
  
  .fa-twitch {
      color: #6441A5;
  }
  
  .fa-linkedin {
      color: #007bb6;
  }
  
  .fa {
      opacity: "0.7";
      transition: "1s";
      /* -webkit-transition: "1s"; */
  }
  
  .fa:hover{
      opacity: "1";
      transition: "1s";
      /* -webkit-transition: "1s"; */
    }


/* /////////////////////for counter///////////////// */
    .pinkBg {
      background-color: #ed184f!important;
      background-image: linear-gradient(90deg, #fd5581, #fd8b55);
  }
  .intro-banner-vdo-play-btn{
      height:60px;
      width:60px;
      position:absolute;
      top:50%;
      left:50%;
      text-align:center;
      color: #ffffff;
      font-size :25px ;
      font-weight: bold;
      margin:-30px 0 0 -30px;
      border-radius:100px;
      z-index:1
  }
  .intro-banner-vdo-play-btn i{
      line-height:56px;
      font-size:30px
  }
  .intro-banner-vdo-play-btn .ripple{
      position:absolute;
      width:160px;
      height:160px;
      z-index:-1;
      left:50%;
      top:50%;
      opacity:0;
      margin:-80px 0 0 -80px;
      border-radius:100px;
      -webkit-animation:ripple 1.8s infinite;
      animation:ripple 1.8s infinite
  }
  
  @-webkit-keyframes ripple{
      0%{
          opacity:1;
          -webkit-transform:scale(0);
          transform:scale(0)
      }
      100%{
          opacity:0;
          -webkit-transform:scale(1);
          transform:scale(1)
      }
  }
  @keyframes ripple{
      0%{
          opacity:1;
          -webkit-transform:scale(0);
          transform:scale(0)
      }
      100%{
          opacity:0;
          -webkit-transform:scale(1);
          transform:scale(1)
      }
  }
  .intro-banner-vdo-play-btn .ripple:nth-child(2){
      animation-delay:.3s;
      -webkit-animation-delay:.3s
  }
  .intro-banner-vdo-play-btn .ripple:nth-child(3){
      animation-delay:.6s;
      -webkit-animation-delay:.6s
  }
  

     